p {
  color: #580051;
  padding: 5px;
  margin: 10px 15px;
  font-size: 20px;
}

div {
  margin: 10px 15px;
  border: 5px solid #be00af;
  background-color: #fff1fe;
}

h1, h2, h3 {
  margin: 10px 15px;
  color: #580051;
}

#work p, #work h1, #work h2, #work h3 {
  padding: 1px;
  font-family: sans-serif;
  font-size: small;
}

#address {
  padding: 40px;
}
