$kolor: (green), (rgb(65, 88, 0));
$pady: 5px;
$marginy: 10px 15px;
$ramki: 5px solid lighten(nth($kolor, 2), 20);
$rozmiar: 20px;
$padingi: (duze: 40px, male: 1px);
$padyduze: map-get($padingi, duze);
$padymale: map-get($padingi, male);
$aaa: 'work';


p {
    color: nth($kolor, 2);
    padding: $pady;
    margin: $marginy;
    font-size: $rozmiar;
}
div {
    margin: $marginy;
    border: $ramki;
    background-color: lighten(nth($kolor, 2), 80);
    &:hover{
        background-color: lighten(nth($kolor, 2), 70);
    }
}
h1, h2, h3 {
    margin: $marginy;
    color: nth($kolor, 2);
}
##{$aaa} {
    p, h1, h2, h3{
        padding: $padymale;
        font: {
            family:sans-serif;
            size: small;
        }
    }
}
#address {
    padding: $padyduze;
}
#skills {
    text-align: center;
    p {
        text-align: right;
    }
}
#education {
    @extend #skills;
    background-color: lighten(nth($kolor, 2), 70)
}
