@import "_zmienne";
@import "_mixin";
@import "_function";

p {
    color: nth($kolor, 2);
    padding: $pady;
    margin: $marginy;
    font-size: $rozmiar;
}
div {
    margin: $marginy;
    border: $ramki;
    background-color: lighten(nth($kolor, 2), 80);
    &:hover{
        background-color: lighten(nth($kolor, 2), 70);
    }
}
h1, h2, h3 {
    margin: $marginy;
    color: nth($kolor, 2);
}
##{$aaa} {
    p, h1, h2, h3{
        padding: $padymale;
        font: {
            family: sans-serif;
            size: small;
        }
    }
}
#address {
    padding: $padyduze;
}
#skills {
    text-align: center;
    p {
        text-align: right;
    }
}
#education {
    @extend #skills;
    background-color: lighten(nth($kolor, 2), 70)
}

@include referencje(red); 

#personal {
    width: szerokosc(30);
}